.mainInfo {
    text-align: justify;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1; 
    width: 80%; 
    margin: 0 auto;
}



.Images
{
    display: block;
    margin: 0 auto; 
    width: 800px;
    height: 520px;
}

.LogoPNG {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 40px;
    top: -4px;
    z-index: 2; 
}

.LogoText {
    width: 211px;
    height: 211px;
    position: absolute;
    left: -10px; 
    top: -4px; 
    opacity: 0; 
    transition: opacity 0.5s, top 0.5s; 
}



.logo a
{
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    font-weight: bold;
}


nav 
{
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    width: 100%; 
    height: 140px;
}

nav .DataTimeBlock
{
    padding-left:60%;  
    
}

nav .subNav {
    padding-left:22%;
    
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
}


nav a:hover {
    background-color: #ddd;
    color: black;
}



nav .loginButton {
    padding-left: 80%;
    background-color: #ffffff;
}

nav .loginButton a {
    color: black;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-top:10px;
    text-align: center;
    text-decoration: none;
   
}

nav .loginButton a:hover {
    background-color: #ddd;
    color: black;
}

footer 
{
    
    background-color: #282828; 
    padding: 20px; 
    left: 0;
    bottom: 0;
}

.social-icons
{
    display: flex;
    align-items: center;
   
}

.social-icons a
{
    margin-right: 10px;
}
.contact-info
{
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 10px;
}

.nextPage
{
    color: #ffffff;
}

.registration-form {
    width: 300px;
    margin: 65px auto ;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.required
{
    color: red;
}


.registration-form h2 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 2px;
    color: #333;
}

.form-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ulAdvantages
{
    text-align: center;

}

.ulAdvantages li
{
    display: inline-block;
    margin: 10px;
    font-family: Arial, sans-serif; 
    font-size: 16px;
   
}

.ulSocialMedia 
{
    text-align: center;
    margin-left: -40px;
}
.ulSocialMedia li
{
    display: inline-block;
    margin: 20px;
}